<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
  <a class="button" data-slide="2" title=""></a>
  <ul class="navigation">
    <li data-slide="1" class="active">About Me</li>
    <li data-slide="2" class="active">Portfolio</li>
    <li data-slide="3" class="active">Contact Me</li>
  </ul>
    <div id="front-page">
      <h1 id="heading">Hi, I'm Priyanka Saigal.</h1>
        <ul id="title">
        <li id="title-li">Web Developer <span style="font-size:30px">&#9679;</span></li>
        <li id="title-li">Avid Learner <span style="font-size:30px">&#9679;</li>
        <li id="title-li">Health Junkie <span style="font-size:30px">&#9679;</li>
        <li id="title-li">Music Lover<span style="font-size:30px">&#9679;</li>
      </ul>

      <ul id="images">
        <li id="images-li"><img src="/imgs/computer.png" height="140" width="135"></li>
        <li id="images-li"><img src="/imgs/books.png" height="120" width="140"></li>
        <li id="images-li"><img src="/imgs/apple.png" height="120" width="120"></li>
        <li id="images-li"><img src="/imgs/music.png" height="130" width="90ß"></li>
      </ul>
    </div>
  </div>

  <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <a class="button" data-slide="3" title=""></a>
    <p id="contact-header-projects">Portfolio</p>

    <ul class="portfolio">
      <div class="col-sm-4">
          <li class="portfolio-list">
            <a href="http://glycemopedia.herokuapp.com" class="portfolio-link">
            <div id="pic1">
                <div class="text">
                Platform that enables users to make intelligent food choices based on the glycemic index of foods consumed.
                </div>
            </div>
            </a>
          </li>
      </div>

      <div class="col-sm-4">
        <li class="portfolio-list">
          <a href="http://restaurant-roulette.herokuapp.com" class="portfolio-link">
          <div id="pic2">
            <div class="text">
              Food decision service to help indecisive friends quickly find a restaurant based on conflicted preferences.
            </div>
          </div>
          </a>
        </li>
      </div>

      <div class="col-sm-4">
        <li class="portfolio-list">
        <a href="http://filmed-in-sf.herokuapp.com" class="portfolio-link">
          <div id="pic3">
            <div class="text">
              Web application that allows movie aficionados to view on a map the locations in San Francisco where their favorite movies were filmed
            </div>
          </div>
        </a>
        </li>
      </div>
    </ul>
  </div>


  <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
    <div id="contact-page">
        <p id="contact-header">Contact</p>

        <ul id="contact-icons">
          <li id="contact-icons-li">Name <span class="glyphicon glyphicon-user"></span></li>
          <li id="contact-icons-li">Location <span class="glyphicon glyphicon-map-marker"></span></li>
          <li id="contact-icons-li">Email <span class="glyphicon glyphicon-envelope"></span></li>
          <li id="contact-icons-li">Resume <span class="glyphicon glyphicon-pencil"></span></li>
        </ul>

        <ul id="contact-icons-info">
          <li id="contact-icons-info-li">Priyanka Saigal</li>
          <li id="contact-icons-info-li">San Francisco, CA</li>
          <li id="contact-icons-info-li">psaigal48@gmail.com</li>
          <li id="contact-icons-info-li"><%= link_to "Click Here", "https://www.docdroid.net/TBFIxXH/resume.pdf.html", :target => "_blank" %></li>
        </ul>



      <ul id="social-media-icons">
        <li class="social-media-icons-li">
          <%= link_to image_tag("GitHub.png"), "http://github.com/psaigal", :target => "_blank" %>
        </li>
        <li class="social-media-icons-li">
          <%= link_to image_tag("GooglePlus.png"), "https://plus.google.com/100529383494509522614/posts", :target => "_blank" %>
        </li>
        <li class="social-media-icons-li">
          <%= link_to image_tag("LinkedIn.png"), "https://www.linkedin.com/in/priyanka-saigal-5034ab56", :target => "_blank" %>
        </li>
        <li class="social-media-icons-li">
          <%= link_to image_tag("Twitter.png"), "https://twitter.com/priyankasaigal", :target => "_blank" %>
        </li>
      </ul>
    <div>
  </div>
