<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
  <nav class="navbar navbar-default">
    <div class="container-fluid nav-container">
      <ul class="nav navbar-nav navigation">
        <li data-slide="1" class="active nav-link">About Me</li>
        <li data-slide="2" class="active nav-link">Portfolio</li>
        <li data-slide="3" class="active nav-link">Contact Me</li>
        <li class="nav-link"><a id="blog-link">Blog</a></li>
      </ul>
    </div>
  </nav>
  <div id="front-page">
    <h1 id="heading"><span class="title"></span></h1>
      <p id="title-li"><span class="subtitle"></span></p>
  </div>
</div><!--End Slide 1-->

  <div class="slide basic-waypoint os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <p id="contact-header-projects">Portfolio</p>
    <div class="container-fluid">
      <div class="row">
        <a href="https://github.com/psaigal/teacher_dashboard" target="_blank">
          <div class="col-6 col-md-4 project">
            <div class="description">
              <p class="project-title">freeCodeCamp Teacher Dashboard</p>
              <p class="project-description">Dashboard that enables teachers to track student progress on freeCodeCamp, a free, open-source learning platform with 400,000+ active monthly users</p>
            </div>
            <div class="project-image">
              <img class="project-image" src="/imgs/fcc.png">
            </div>
          </div>
        </a>
        <a href="https://glycemopedia.herokuapp.com/" target="_blank">
          <div class="col-6 col-md-4 project">
            <div class="description">
              <p class="project-title">Glycemopedia</p>
              <p class="project-description">Platform that enables users to make intelligent food choices based on the glycemic index of foods consumed</p>
            </div>
            <div class="project-image">
              <img class="project-image" src="/imgs/glycemopedia.png">
            </div>
          </div>
        </a>
        <a href="http://filmed-in-sf.herokuapp.com/" target="_blank">
          <div class="col-6 col-md-4 project">
            <div class="description">
              <p class="project-title">Filmed in SF</p>
              <p class="project-description">Web application that allows movie aficionados to view on a map the locations in San Francisco where their favorite movies were filmed.</p>
            </div>
            <div class="project-image">
              <img class="project-image" src="/imgs/filmsf.png">
            </div>
          </div>
        </a>
        <a href="http://restaurant-roulette.herokuapp.com/" target="_blank">
          <div class="col-6 col-md-4 project">
            <div class="description">
              <p class="project-title">Restaurant Roulette</p>
              <p class="project-description">Food decision service to help indecisive friends quickly find a restaurant based on conflicted preferences.</p>
            </div>
            <div class="project-image">
              <img class="project-image" src="/imgs/restroulette.png">
            </div>
          </div>
        </a>
        </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
    <div id="contact-page">
        <p id="contact-header">Contact</p>

        <div class="border row">
          <div class="border col-lg-3 basic-waypoint os-animation" data-os-animation="slideInLeft" data-os-animation-delay="0s">
            <figure class="item">
              <div class="contact-icons">Name <span class="glyphicon glyphicon-user"></div>
              <figcaption class="caption contact-icons-info">Priyanka Saigal</figcaption>
            </figure>
          </div>
          <div class="border col-lg-3 basic-waypoint os-animation" data-os-animation="slideInLeft" data-os-animation-delay="0s">
            <figure class="item">
              <div class="contact-icons">Location <span class="glyphicon glyphicon-map-marker"></span></div>
              <figcaption class="caption contact-icons-info">San Francisco, CA</figcaption>
            </figure>
          </div>
          <div class="border col-lg-3 basic-waypoint os-animation" data-os-animation="slideInLeft" data-os-animation-delay="0s">
            <figure class="item">
              <div class="contact-icons">Email <span class="glyphicon glyphicon-envelope"></span></div>
              <figcaption class="caption contact-icons-info">psaigal48@gmail.com</figcaption>
            </figure>
          </div>
          <div class="border col-lg-3 basic-waypoint os-animation" data-os-animation="slideInLeft" data-os-animation-delay="0s">
            <figure class="item">
              <div class="contact-icons">Resume <span class="glyphicon glyphicon-pencil"></span></div>
              <figcaption class="caption contact-icons-info"><%= link_to "Click Here", "http://docdro.id/30j2xMs", :target => "_blank" %></figcaption>
            </figure>
          </div>
        </div><!--.row-->

      <div class="social-media-icons-container">
        <div class="border col-xs-3">
          <div class="social-media-icons">
            <figure><%= link_to image_tag("GitHub.png"), "http://github.com/psaigal", :target => "_blank" %></figure>
          </div>
        </div>
        <div class="border col-xs-3">
          <div class="social-media-icons">
            <figure><%= link_to image_tag("GooglePlus.png"), "https://plus.google.com/100529383494509522614/posts", :target => "_blank" %></figure>
          </div>
        </div>
        <div class="border col-xs-3">
          <div class="social-media-icons">
            <figure><%= link_to image_tag("LinkedIn.png"), "https://www.linkedin.com/in/priyanka-saigal-5034ab56", :target => "_blank" %></figure>
          </div>
        </div>
        <div class="border col-xs-3">
          <div class="social-media-icons">
            <figure><%= link_to image_tag("Twitter.png"), "https://twitter.com/priyankasaigal", :target => "_blank" %></figure>
          </div>
        </div>
      </div><!--.row-->
    <div>
  </div>
